[submodule "ros2_ws/src/rplidar_ros"]
	path = ros2_ws/src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "rtl8852au"]
	path = rtl8852au
	url = https://github.com/lwfinger/rtl8852au.git
[submodule "ByteTrack"]
	path = ByteTrack
	url = https://github.com/anhphan2705/ByteTrack_MultiOT.git
[submodule "opencv_gst_install/opencv"]
	path = opencv_gst_install/opencv
	url = https://github.com/opencv/opencv.git
	branch = 4.10.0
[submodule "opencv_gst_install/opencv_contrib"]
	path = opencv_gst_install/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
