ament_copyright==0.12.11
ament_flake8==0.12.11
ament_index_python==1.4.0
ament_pep257==0.12.11
cv_bridge==3.2.1
launch_ros==0.19.8
message_filters==4.3.5
numpy==1.23.5
numpy==1.21.5
pytest==6.2.5
PyYAML==5.4.1
PyYAML==6.0.2
rcl_interfaces==1.2.1
rclpy==3.3.15
rosidl_parser==3.1.6
sensor_msgs==4.2.4
setuptools==59.6.0
std_msgs==4.2.4
torch==2.3.0
ultralytics==8.3.108
vpi==0.1.4
cv2==opencv-contrib
